LOG_INFO=info
OPENAI_API_KEY=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=chatbio
PYTHON_PATH=/app/src:/app:
CHAT_ENV=reactome
HCAPTCHA_SECRET_KEY=
HCAPTCHA_SITE_KEY=fc8290bc-20fa-4282-838a-154e3774adbc

