LOG_INFO=info
OPENAI_API_KEY=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_CHAINLIT_DB=chatbio_chainlit
POSTGRES_LANGGRAPH_DB=chatbio_langgraph
PGADMIN_DEFAULT_EMAIL=test@test.com
PGADMIN_DEFAULT_PASSWORD=test
PYTHON_PATH=/app/src:/app:
CHAT_ENV=reactome
CLOUDFLARE_SECRET_KEY=
CLOUDFLARE_SITE_KEY=0x4AAAAAAAkzFQ5GRs2toYuv
